.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topArea-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 86px;
  rotate: -0.6deg;
  line-height: 1.1;
}
.title {
  color: var(--hg-color);
  font-size: 4.42rem;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: -2px;
  line-height: 1;
}
.subTitle {
  color: white;
  font-size: 3.8rem;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: -1px;
}
.boxImage {
  position: relative;
  animation: float 6s ease-in-out infinite;
  top: -6px;
  width: 280px;
}
.infoTitle {
  color: var(--hg-color);
  font-size: 2.8rem;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: -1px;
}
.infosubTitle {
  color: white;
  font-size: 1.8rem;
  font-family: var(--primary-font);
  font-weight: 600;
  letter-spacing: -1px;
  word-spacing: 6px;
  letter-spacing: -0.5px;
  text-align: center;
}
.infoArea-text {
  display: flex;
  width: 100%;
  gap: 2px;
  line-height: 1.3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.buyButton {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background-color: var(--hg-color);
  color: white;
  font-size: 0.9rem;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.buyButton:hover {
  background-color: transparent;
  border-color: var(--hg-color);
  transition: 0.3s;
  color: var(--hg-color);
}
.huh-text {
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: 1px;
}
.huh-subText {
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: -1px;
}
.hahah-text {
  color: var(--hg-color);
  font-size: 4.8rem;
  font-weight: bolder;
  line-height: 1;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: -1px;
  rotate: -0.7deg;
}
.publicArea-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 328px;
  width: 100%;
  flex-direction: row;
  gap: 128px;
  z-index: 0;
}
.publicArea-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.boxImage2 {
  width: 340px;
  animation: float 3s ease-in-out infinite;
  background-color: rgba(24, 129, 190, 0);
  filter: drop-shadow(0px 80px 50px #000);
}
.seeWorking-container {
  display: flex;
  align-items: center;
  margin-top: 328px;
  flex-direction: column;
  gap: 128px;
  z-index: 1;
}
.seeWorking-title {
  color: var(--hg-color);
  font-size: 4.8rem;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: -1px;
}
.seeWorking-video {
  border: 3px solid var(--hg-color);
}
.seeWorking-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 80px;
  background-color: var(--hg-color);
  color: white;
  font-size: 1.8rem;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: 1px;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s;
}
.seeWorking-button:hover {
  background-color: transparent;
  border-color: var(--hg-color);
  transition: 0.3s;
  color: var(--hg-color);
}
.bg-elements {
  position: absolute;
  bottom: 200px;
  right: 0%;
  z-index: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.bg-elements2 {
  position: absolute;
  top: 1000px;
  right: 35%;
  z-index: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.bg-elements3 {
  position: absolute;
  top: 1800px;
  right: 30%;
  z-index: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.infoAboutTitle {
  color: #172418;
  font-size: 7rem;
  rotate: -1deg;
  line-height: 0.98;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: -1px;
}
.infoAboutSubtitle {
  color: var(--hg-color);
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  word-spacing: 6px;
  text-align: center;
}
.infoAbout-container {
  background-color: #f2f1ec;
  margin-top: 240px;
  width: 99.84%;
  height: 900px;
  display: flex;
  gap: 36px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.boxAbout {
  position: relative;
  top: 36px;
  width: 380px;
  background-color: rgba(24, 129, 190, 0);
}
.infoAbout-top {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.infoAbout-p {
  color: #172418;
  font-size: 1.7rem;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  line-height: 1.1;
  text-align: center;
}
.whatContains-container {
  width: 99.84%;
  background-color: #0b1810;
  z-index: 1;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.whatContains-title {
  color: var(--hg-color);
  font-size: 5rem;
  rotate: -2deg;
  line-height: 0.98;
  margin-top: 180px;
  margin-left: 72px;
  margin-right: 72px;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: -1px;
}
.whatContains-subTitle {
  color: white;
  font-size: 5rem;
  rotate: -1.8deg;
  margin-top: 18px;
  margin-left: 72px;
  margin-right: 72px;
  line-height: 0.98;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: -1px;
}
.topic-list-area {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 600px;
  padding: 12px;
  margin: 48px;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: 0.3s;
}
.topic-list-area:hover {
  border: 2px solid var(--hg-color);
  transition: 0.3s;
  background-color: transparent;
}
.topic-area {
  display: flex;
  flex-direction: column;
}
.topic-title {
  color: var(--hg-color);
  font-size: 1.6rem;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: 0.8px;
  margin-left: 24px;
}
.topic-indicator {
  position: relative;
  color: var(--hg-color);
  font-size: 6rem;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
}
.topic-subTitle {
  color: white;
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: 0.5px;
  margin-top: 12px;
  margin-left: 24px;
}
.topics-div {
  display: flex;
  flex-direction: row;
}
.whatContains-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hg-color);
  color: white;
  font-size: 1.8rem;
  padding: 16px;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: 1px;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s;
}
.whatContains-button:hover {
  background-color: transparent;
  border-color: var(--hg-color);
  transition: 0.3s;
  color: var(--hg-color);
}
.howHelp-container {
  background-color: #ffffff;
  width: 100%;
  margin-top: 240px;
}
.howHelp-title {
  color: #0f1722;
  font-size: 5rem;
  rotate: -1deg;
  text-align: center;
  line-height: 0.98;
  margin-left: 72px;
  margin-top: 24px;
  margin-right: 72px;
  font-weight: bolder;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: -1x;
}
.howHelp-subTitle {
  color: #3acb74;
  font-size: 1.2rem;
  text-align: center;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: 0.5px;
  margin-top: 18px;
  margin-left: 72px;
  margin-right: 72px;
  line-height: 1.1;
}
.howHelpTitle-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 92px;
}
.howHelp-circle {
  background-color: var(--hg-color);
  border-radius: 250px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.howHelp-text {
  color: #0f1722;
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  letter-spacing: 0.5px;
  line-height: 1.1;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.8rem;
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
    margin-right: 0px;
  }
  .subTitle {
    font-size: 2rem;
    margin-bottom: 12px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .boxAbout {
    top: 0px;
    z-index: 0;
  }
  .huh-text {
    font-size: 0.6rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .huh-subText {
    font-size: 0.6rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    letter-spacing: normal;
  }
  .hahah-text {
    font-size: 2.2rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .boxImage2 {
    width: 180px;
  }
  .publicArea-container {
    gap: 0;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #1e1e1e;
    border-radius: 35px;
    padding: 36px;
  }
  .seeWorking-container {
    margin-top: 0px;
    gap: 30px;
  }
  .seeWorking-video {
    width: 100%;
    height: 250px;
  }
  .seeWorking-title {
    font-size: 2rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .infoAbout-container {
    width: 100%;
    height: 500px;
    margin-top: 60px;
  }
  .infoAboutTitle {
    font-size: 2rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .infoAboutSubtitle {
    font-size: 1rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .boxAbout {
    width: 180px;
    z-index: 0;
  }
  .whatContains-container {
    z-index: 1;
    height: 1200px;
    gap: 0;
  }
  .whatContains-title {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-top: 0;
  }
  .whatContains-subTitle {
    font-size: 2rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 18px;
  }
  .infoTitle {
    font-size: 2rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .infosubTitle {
    font-size: 1rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .infoAbout-p {
    font-size: 1rem;
  }
  .topic-list-area {
    width: 100%;
    margin: 0px;
    gap: 2px;
  }
  .topic-area {
    margin-left: 0px;
  }
  .topic-title {
    font-size: 1.2rem;
    margin-left: 12px;
  }
  .topic-indicator {
    font-size: 3rem;
  }
  .topic-subTitle {
    font-size: 0.8rem;
    margin-top: 0px;
    margin-left: 12px;
  }
  .topics-div {
    flex-direction: column;
  }
  .whatContains-button {
    margin: 12px;
    font-size: 1.2rem;
    padding: 8px;
  }
  .howHelp-container {
    margin-top: 0px;
  }
  .howHelp-title {
    font-size: 3.5rem;
    margin-left: 0px;
    margin-right: 0px;
  }
  .howHelp-subTitle {
    font-size: 1rem;
    margin-left: 0px;
    margin-right: 0px;
  }
  .howHelpTitle-area {
    margin-top: 0px;
  }
  .howHelp-circle {
    width: 200px;
    height: 200px;
  }
  .howHelp-text {
    font-size: 0.8rem;
  }
  .bg-elements {
    display: none;
  }
  .bg-elements2 {
    display: none;
  }
  .bg-elements3 {
    display: none;
  }
}
